
.card__campo__input {
    display: flex;
    height: 35px;
    width: 350px;
    font-size: large;
}

/*--------------boton-------------------*/

.card__button {
    margin-top: 10px;
}

.card__button button {
    color: #000;
    background-color: #33cc33;
    border: 1px solid #000;

}

.card__button button:hover {
    color: #fff;
    background-color: #009933;
    border: 1px solid #fff;
}
.card__button button:active {
    color: #000;
    background-color: #009933;
    border: 3px solid #121213;
}

/*--------------------validaciones---------------------------*/
.invalid {    
    border-color: red;
}

#errorNombre
,#errorMail
,#errorMensaje{
    text-align: center;
    margin-top: 10px;
    color: red
}

.card__mensaje_error{
    margin-bottom: 150px;
    margin-top: 30px;
    color: red;
    border: 1px solid white;
}

.card__campo__label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card__campo_big textarea {
    height: 80px;
}

/*--------------saves-------------------*/

.card_saves{
    width: 400px;
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
}

.card_saves button{
    width: 196px;
    height: 65px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    border:none;
    background-color: #3a3a3c;
    color: #fff;
    margin:2px;
}

.card_saves button:hover{
    border: 1px solid #fff;
}
.card_saves button:active{
    background-color: #fff;
    color:#000;
}

#titulo_save{
    display:none
}

#nuevaPartida{
    width: 400px;
    height: 48px;
    color:#000;
    background-color: #009933;
}


/* section{
    height: 550px;
} */
/*================== tablet / PC ==================*/
@media (min-width: 520px) {

    .card__campo__input {
        width: 500px;
    }

}
/*================== dispositivos pequenios ==================*/

@media (max-width: 400px) {
    .card_saves{
        width: 360px;
        margin-top: 10px;
        display:flex;
        flex-wrap: wrap;
    }
    .card_saves button{
        width: 176px;
        height: 65px;
    }
}