

.card__campo__input {
    display: flex;
    height: 35px;
    width: 350px;
    font-size: large;
}

/*--------------boton-------------------*/

.card__button {
    margin-top: 10px;
}

.card__button button {
    color: #000;
    background-color: #33cc33;
    border: 1px solid #000;

}

.card__button button:hover {
    color: #fff;
    background-color: #009933;
    border: 1px solid #fff;
}
.card__button button:active {
    color: #000;
    background-color: #009933;
    border: 3px solid #121213;
}

/*--------------------validaciones---------------------------*/
.invalid {
    border-color: red;
}

#errorMail ,#errorContrasenia{
    text-align: center;
    margin-top: 10px;
    color: red
}

.card__mensaje_error{
    margin-bottom: 150px;
    margin-top: 30px;
    color: red;
    border: 1px solid white;
}

/*--------------saves-------------------*/

.card_saves{
    width: 400px;
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
}

.card_saves button{
    width: 190px;
    height: 48px;
    text-align: start;
    font-size: 16px;
    border-radius: 4px;
    border:none;
    background-color: #3a3a3c;
    color: #fff;
    margin:2px;
}

.card_saves button:hover{
    border: 1px solid #fff;
}
.card_saves button:active{
    background-color: #fff;
    color:#000;
}

#titulo_save{
    display:none
}
/*================== tablet / PC ==================*/
@media (min-width: 520px) {

    .card__campo__input {
        width: 500px;
    }

}
