
body{
    font-family:'Trebuchet MS';
    background-color:#121213;
    color: #fff;

}
section{
    display:flex;
    align-items: center;
    flex-direction: column;


}
.card{
    width: 410px;
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/*--------------header-------------------*/

header{
    text-align: center;
    border-bottom: 2px solid #3a3a3c;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}


/*--------------boton-------------------*/

.card__button button {
    width: 250px;
    padding: 1.3em 3em;
    font-size: 14px;
    margin: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #fff;
    background-color: #3a3a3c;
    border: 3px solid #3a3a3c;
    cursor: pointer;
    outline: none;
}

.card__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card__button button:hover {
    color: #000;
    background-color: #3a3a3c;
    border: 3px solid #121213;
}
.card__button button:active {
    background-color: #fff;
    border: 3px solid #121213;
}
/*--------------footer-------------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding: 30px;
    background: #121213;
    border-top:2px solid #3a3a3c ;

}

footer a {
    text-decoration: none;
    color: #fff;
}
/*================== tablet / PC ==================*/
@media (min-width: 520px) {
    
    .card{
        width: 520px;
        height: 600px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

}
