
body{
    font-family:'Trebuchet MS';
    background-color:#121213;
    color: #fff;

}
section{
    display:flex;
    align-items: center;
    flex-direction: column;
    border:1px solid red;
    margin-bottom: 20px;
}

.card{
    width: 410px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card__title {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 20px;
    margin: 20px 10% 10px 10%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}
/*--------------header-------------------*/

header{
    text-align: center;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid #3a3a3c;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}
.img_holder{
    width: 50px;
    height: 50px;
    display:flex;
    text-align: center;
    align-self: center;   
    justify-self:center ; 
    justify-content: space-around;
    border-radius: 30px;
    background-color: #fff;
    border:2px solid #fff;
}
.img_holder:hover{
    background-color: #cccccc;
    border:2px solid #121213;
}
img{
    width: 40px;
    height: 40px;
    text-align: center;
    align-self: center;    
}

a{
    color:#fff;
    text-decoration: none;
}

/*--------------boton-------------------*/

.card__button button {
    width: 250px;
    padding: 1.3em 3em;
    font-size: 14px;
    margin: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #fff;
    background-color: #3a3a3c;
    border: 3px solid #3a3a3c;
    cursor: pointer;
    outline: none;
}

.card__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card__button button:hover {
    color: #000;
    background-color: #3a3a3c;
    border: 3px solid #121213;
}
.card__button button:active {
    background-color: #fff;
    border: 3px solid #121213;
}
/*--------------footer-------------------*/

footer {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    border-top:2px solid #3a3a3c ;
}

footer a {
    border:1px solid red;
    text-decoration: none;
    color: #fff;
}
/*================== tablet / PC ==================*/
@media (min-width: 520px) {
    
    .card{
        width: 520px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    /* section{
        height: 850px;
    } */
}
