/*--------------Matriz-------------------*/

.card__matriz{
    width: 330px;
    margin: 20px;
}
.celda{
    font-size: 20px;
    background-color: #3a3a3c;
}
.card__matriz div{
    display: flex;
}

.card__matriz .celda{
    width: 62px;
    height: 62px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin: 2px;
}

/* #juego{
    display: none;
} */
/*--------------Teclado-------------------*/
.card__teclado{
    width: 400px;
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
}

.card__teclado button{
    width: 36px;
    height: 48px;
    font-size: 14px;
    border-radius: 4px;
    border:none;
    background-color: #3a3a3c;
    color: #fff;
    margin:2px;
}
.card__teclado button:nth-child(11){
    margin-left: 22px;
}

.card__teclado button:nth-child(28){
    width: 56px;
    font-size: 12px;
    background-color: #70db70;
    color:#000;
}
.card__teclado button:nth-child(20){
    width: 56px;
    font-size: 12px;
    background-color: #ff6666;
    color:#000;
}

.card__teclado button:hover{
    border: 2px solid #121213;
}
.card__teclado button:active{
    background-color: #fff;
    color:#000;
}

.card__teclado button:nth-child(28):active {
    background-color: #70db70;
}

.card__teclado button:nth-child(20):active {
    background-color: #ff6666;
}
/*--------------mensaje-------------------*/

.card__mensaje{
    width: 400px;
    text-align: center;
    font-size: 60px;
    color: #33cc33;
}

/*--------------boton-------------------*/

.card__button {
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.card__button_save button {
    width: 270px;
    padding: 1.3em 3em;
    font-size: 14px;
    margin: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #fff;
    background-color: #3a3a3c;
    border: 3px solid #3a3a3c;
    cursor: pointer;
    outline: none;
}

.card__button_save {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card__button_save button:hover {
    color: #000;
    background-color: #3a3a3c;
    border: 3px solid #121213;
}
.card__button_save button:active {
    background-color: #fff;
    border: 3px solid #121213;
}


/*--------------timer-------------------*/

#seconds, #minutes, #hours {
    font-size: 2em;
}

.cronometer-row{
    margin-top: 20px;
    font-size: 15px;
}

/*================== tablet / PC ==================*/
@media (min-width: 520px) {
    
    .card{
        width: 520px;
        height: 600px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .card__teclado{
        width: 510px;
        margin-top: 20px;
    }

    .card__teclado button{
        width: 43px;
        height: 58px;
        margin:4px;
    }
    .card__teclado button:nth-child(11){
        margin-left: 30px;
    }

    .card__teclado button:nth-child(20) {
        width: 68px;
    }
    .card__teclado button:nth-child(28){
        width: 68px;
    }

}
